
<div class="row">


    <div class="sidebar">

      <a class="btn" data-bs-toggle="collapse" data-bs-target="#SIZE" title="size">
        <i class="fas fa-bars"></i>
        menu
      </a>

        <a class="btn" data-bs-toggle="collapse" data-bs-target="#text" title="Texte" aria-expanded="false" role="button" (click)='addText()'><i class="far fa-text"></i><br>
            Text

          </a>


          <a class="btn" data-bs-toggle="collapse" data-bs-target="#shapes" title="Les formes"><i class="fa fa-shapes"></i>
            Shapes
          </a>

          <a class="btn"  title="fichier">
            <i class="fas fa-arrow-circle-up"></i>
            <input type="file" (change)="onFileUpload($event)" style="max-width:2em; margin-left: 0em;" >

          </a>



          <a class="btn" (click)="getModel()"> <br><br>
            <i class="fas fa-cart-plus"></i>
            add to cart

          </a>

      </div>


      <div  class="menu">
      <div class="row" style="max-width: 100%; overflow-y: scroll;">

        <div class="collapse" id="text" style="max-width: 100%;">
          <div class="card card-body" style="max-width: 100%;">
            <div class="mb-3">
              <label for="yourtext" class="form-label">Text</label>
              <input type="text" class="form-control" id="yourtext" placeholder="SUP'COM " [(ngModel)]="text" (input)="InputChange(text)"><br>

            </div>

            <div class="mb-3">
              <a (click)="makeBold()" role="button" title="bold"><i class="fas fa-bold"></i></a>
              <a  (click)="makeItalic()" role="button" title="italc"><i class="fad fa-italic"></i></a>


              <a role="button" title="align rght">
                <i class="fad fa-align-right"></i>
              </a>
              <a role="button" title="align left">
                <i class="fad fa-align-left"></i>
              </a>

              <a  role="button" title="justify"> <i class="fas fa-align-justify"></i></a>

              <a (click)="copy()" role="button" title="copy"><i class="far fa-copy"></i></a>

              <a (click)="paste()" role="button" title="paste">
                 <i class="fal fa-clone"></i>
              </a>

              <a role="button" title="fonts">
                <i class="fas fa-font"></i>
              </a>

              <a data-bs-target="#color" data-bs-toggle="collapse" aria-expanded="false" role="button" title="color">

                <i class="far fa-paint-brush-alt"></i>
              </a>

              <br>
              <a role="button" title="undo">

                <i class="fas fa-undo-alt"></i>
              </a>

              <a role="button" title="redo">
                <i class="fas fa-redo-alt"></i>
               </a>

               <a (click)="removeItem()" role="button" title="remove">
                <i class="far fa-trash-alt"></i>

              </a>

              <a (click)="underlineText()" role="button" title="underline">

                <i class="far fa-underline"></i>
              </a>


              <a (click)="overlineText()" role="button" title="overline">

                <i class="far fa-overline"></i>
              </a>



            </div>


            <div class="mb-3 collapse" id="color">
              <div class="row">
                <div class="card-body">
                  <color-circle [colors]="colors" (onChange)="texteclor($event)"></color-circle>

                </div>


              </div>
            </div>



          </div>


        </div>


        <div class="collapse" id="shapes" style="max-width: 100%;">
          <div class="card card-body" style="max-width: 100%;">
            <div class="mb-3 d-flex" *ngFor="let item of shapes">
              <img [src]="item.url" height="100" width="100" (click)="setItem($event)">

            </div>
          </div>
        </div>

        <div class="collapse" id="chatbot" style="max-width: 100%;">
          <div class="row">
            <app-chatbot style="max-width: 30%;"></app-chatbot>

          </div>
        </div>



        <div class="mb-6 collapse" id="SIZE">
          <div class="row">
            <div class=" card card-body">
              <div id="settingmenu">
                <h6>
                  <a role="button" class="btn">
                    <i class="fas fa-send-backward fa-2x" role="button" title="send to back"></i>

                  </a>
                  <a role="button" class="btn">
                    <i class="far fa-copy fa-2x" role="button" title="copy" (click)="copy()"></i>

                  </a>
                  <a role="button" class="btn">
                    <i class="far fa-paste fa-2x" role="button" title="paste" (click)="paste()"></i>

                  </a>

                </h6>

              </div>
              <hr>

             <label for="yourwidth" class="form-label">
               L:
            </label>
             <input type="text" class="form-control" id="yourwidth" placeholder="300 " [(ngModel)]="width" ><br>
             <label for="yourwidth" class="form-label">
              H:
           </label>
            <input type="text" class="form-control" id="yourwidth" placeholder="300 " [(ngModel)]="height" >
            <br> <br>

           <button  type="submit" class="btn btn-success" (click)="resize()">
             submit
           </button>

              <div class='col-xs-6'>
              <input type='range' class='pull-left' min='100' max='1200' step='100' (input)='InputSize()' [(ngModel)]='width' width="100px"/>

            </div>



            </div>


          </div>
        </div>


      </div>

      </div>


         <div class="canvas-body">
           <div id="wrapper">
            <canvas id="canvas-wrapper"> </canvas>

           </div>

      </div>
      <div class="style" hidden>
        <canvas id="test">

        </canvas>

      </div>
<style>
  .style{
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    float: left;
    margin-left: 50%;

  }
</style>


</div>
