


.row{
  margin-left: 2px;

}

.card:hover .middle {
    opacity: 1;
  }
  .card:hover .img {
    opacity: 0.9;
  }



  .card{
    border: none;
    box-shadow: none;
    margin: 10px;
    width: 200px;
  }
  .card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    content:'Je personnalisee';
  }
  a{
    text-decoration: none;
  }

  .card-body{

    width: 225px;
    margin-left: 11px;
    margin-top: -48px;
  }
  .card-body:hover{
    border: none;
  }
  .card-columns{
    display: contents;
    margin-top: 15px;
  }
  @media screen and (max-width:768px){
    .card{
      position: relative;
      left: 33px;
      margin: 12px;
    }
    .card-columns{
      display:inline-table;
      margin-left: -40px;

    }
    .download{
      margin-top: 248px;
    }
    .section-personnalisation{
      margin-left: 30px;
    }
  }
  h6{
    font-weight: bold;
  }


    @media screen and  (max-width:768px) and (orientation:landscape){
      .card{
        position: relative;
        left: 33px;
        margin: 12px;
      }
      .card-columns{
        display:inline-table;
        margin-left: -67px;

      }
      .download{
        margin-top: 248px;
      }
    }
