
<br><br>
<footer class="fixed-bottom navbar-light bg-light">
  <nav class="navbar ">
    <div class="container-fluid">



<div class="col-1">
  <a  href="https://www.facebook.com/profile.php?id=100072935982954">
    <i class="fab fa-facebook fa-3x" ></i>
  </a>
  <a  href="https://www.facebook.com/profile.php?id=100072935982954">
    <i class="fab fa-twitter fa-3x"></i>

  </a>
</div>




    </div>
  </nav>
</footer>
